@page "/techpark/add/model"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using DiplomApp5F.Models
@using DiplomApp5F.Services
@using Microsoft.Extensions.Logging;
@inject HttpClient Http
@inject NavigationManager navigationManager
@inject ILogger<NewRequest> Logger
@inject AuthService authService

@if (userProfile != null && userProfile.RankId == 1)
{
    <h3>Добавить новую модель</h3>

    <EditForm EditContext="@editContext" OnValidSubmit="@AddAction">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <h6>Тема заявки</h6>
        @if (requestTitles != null)
        {
            <InputSelect id="PartNumber" @bind-Value="title">
                @foreach (var requestTitle in requestTitles)
                        {
                    <option value="@requestTitle.Id">@requestTitle.Titlename</option>
                        }
            </InputSelect>
        }
        <br />

        <h6>Изготовитель</h6>
        @*InputText id="Vendor" @bind-Value="addRequest.Vendor" placeholder="Vendor" />*@
        @if (requestVendors != null)
        {
            <InputSelect id="Vendor" @bind-Value="addRequestModel.VendorId">
                @foreach (var requestVendor in requestVendors)
                        {
                            if (requestVendor.TitleId == title || requestVendor.TitleId == 1)
                            {<option value="@requestVendor.Id">@requestVendor.Vendorname</option>}
                            }
            </InputSelect>
        }
        <br />

        <InputText id="Model" @bind-Value="addRequestModel.Modelname" placeholder="Модель" />
        <br />

        <InputText id="Description" @bind-Value="addRequestModel.Description" placeholder="Сведения" />
        <br />

        <Button Type="submit" Name="Добавить" Width="100" />
        <Button Type="button" Name="Отмена" Width="100" OnClick="Back" HasActive="true"></Button>
    </EditForm>
}
else
{
    <p>Недостаточно прав для просмотра. Обратитесь к администратору системы.</p>
}

@code {
    private EditContext editContext;
    private RequestModel addRequestModel = new RequestModel();
    private IEnumerable<RequestTitle> requestTitles;
    private IEnumerable<RequestVendor> requestVendors;
    private int title;

    private CurrentUser currentUser;
    private UserProfile userProfile;

    protected override async Task OnInitializedAsync()
    {
        currentUser = await authService.GetCurrentUserAsync();
        userProfile = new UserProfile();
        if (currentUser.Id > 0)
            userProfile = await Http.GetFromJsonAsync<UserProfile>($"https://localhost:44395/api/userprofiles/{currentUser.ProfileId}");

        editContext = new(addRequestModel);
        requestTitles = await Http.GetFromJsonAsync<IEnumerable<RequestTitle>>("https://localhost:44395/api/requesttitles");
        requestVendors = await Http.GetFromJsonAsync<IEnumerable<RequestVendor>>("https://localhost:44395/api/requestvendors");
    }

    private async Task AddRequestModel()
    {
        //if (title < 2 || addRequestModel.VendorId < 2)
        //Back();
        //else
        await Http.PostAsJsonAsync("https://localhost:44395/api/requestmodels", addRequestModel);
    }

    private void Back()
    {
        navigationManager.NavigateTo("https://localhost:44351/techpark/add/partnumber");
    }

    private async Task AddAction()
    {
        if (editContext != null && editContext.Validate())
        {
            await AddRequestModel();
            Back();
        }
    }
}
